In [1]:
from pyspark.sql import SparkSession

In [2]:
MAX_MEMORY="5g"
spark = SparkSession.builder.appName("taxi-fare-prediciton")\
                .config("spark.executor.memory", MAX_MEMORY)\
                .config("spark.driver.memory", MAX_MEMORY)\
                .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/27 06:49:33 INFO org.apache.spark.SparkEnv: Registering MapOutputTracker
23/04/27 06:49:33 INFO org.apache.spark.SparkEnv: Registering BlockManagerMaster
23/04/27 06:49:33 INFO org.apache.spark.SparkEnv: Registering BlockManagerMasterHeartbeat
23/04/27 06:49:33 INFO org.apache.spark.SparkEnv: Registering OutputCommitCoordinator

In [3]:
trip_files = "/home/ithingvv34/data-engineering/spark/data/trips/*"

In [4]:
trips_df = spark.read.csv(f"file:///{trip_files}", inferSchema=True, header=True)

In [5]:
trips_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [6]:
trips_df.createOrReplaceTempView("trips")

In [7]:
query = """
SELECT 
    passenger_count,
    PULocationID as pickup_location_id,
    DOLocationID as dropoff_location_id,
    trip_distance,
    HOUR(tpep_pickup_datetime) as pickup_time,
    DATE_FORMAT(TO_DATE(tpep_pickup_datetime), 'EEEE') AS day_of_week,
    total_amount
FROM
    trips
WHERE
    total_amount < 5000
    AND total_amount > 0
    AND trip_distance > 0
    AND trip_distance < 500
    AND passenger_count < 4
    AND TO_DATE(tpep_pickup_datetime) >= '2021-01-01'
    AND TO_DATE(tpep_pickup_datetime) < '2021-08-01'
"""
data_df = spark.sql(query)
data_df.createOrReplaceTempView("data")

In [8]:
data_df.show()

+---------------+------------------+-------------------+-------------+-----------+-----------+------------+
|passenger_count|pickup_location_id|dropoff_location_id|trip_distance|pickup_time|day_of_week|total_amount|
+---------------+------------------+-------------------+-------------+-----------+-----------+------------+
|            1.0|               142|                 43|          2.1|          0|     Friday|        11.8|
|            1.0|               238|                151|          0.2|          0|     Friday|         4.3|
|            1.0|               132|                165|         14.7|          0|     Friday|       51.95|
|            0.0|               138|                132|         10.6|          0|     Friday|       36.35|
|            1.0|                68|                 33|         4.94|          0|     Friday|       24.36|
|            1.0|               224|                 68|          1.6|          0|     Friday|       14.15|
|            1.0|                95|                157|          4.1|          0|     Friday|        17.3|
|            1.0|                90|                 40|          5.7|          0|     Friday|        21.8|
|            1.0|                97|                129|          9.1|          0|     Friday|        28.8|
|            2.0|               263|                142|          2.7|          0|     Friday|       18.95|
|            3.0|               164|                255|         6.11|          0|     Friday|        24.3|
|            2.0|               255|                 80|         1.21|          0|     Friday|       10.79|
|            2.0|               138|                166|          7.4|          0|     Friday|       33.92|
|            1.0|               236|                237|         1.01|          0|     Friday|        10.3|
|            1.0|               142|                239|         0.73|          0|     Friday|       12.09|
|            1.0|               238|                166|         1.17|          0|     Friday|       12.36|
|            1.0|               239|                238|         0.78|          0|     Friday|        9.96|
|            2.0|               151|                142|         1.66|          0|     Friday|        12.3|
|            3.0|               239|                142|         0.93|          0|     Friday|         9.3|
|            2.0|               238|                142|         1.16|          0|     Friday|       11.84|
+---------------+------------------+-------------------+-------------+-----------+-----------+------------+
only showing top 20 rows

In [9]:
data_df.printSchema()

root
 |-- passenger_count: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_time: integer (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- total_amount: double (nullable = true)

In [10]:
train_df, test_df = data_df.randomSplit([0.8, 0.2], seed=1)

In [16]:
data_dir = "/home/ithingvv34/data-engineering/spark/data/trips"

In [17]:
train_df.write.format("parquet").save(f"{data_dir}/train/")
test_df.write.format("parquet").save(f"{data_dir}/test/")

In [18]:
train_df = spark.read.parquet(f"{data_dir}/train/")
test_df = spark.read.parquet(f"{data_dir}/test/")

In [19]:
train_df.printSchema()

root
 |-- passenger_count: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_time: integer (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- total_amount: double (nullable = true)

In [20]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer

cat_feats = [
    "pickup_location_id",
    "dropoff_location_id",
    "day_of_week"
]

stages = []

for c in cat_feats:
    cat_indexer = StringIndexer(inputCol=c, outputCol= c + "_idx").setHandleInvalid("keep")
    onehot_encoder = OneHotEncoder(inputCols=[cat_indexer.getOutputCol()], outputCols=[c + "_onehot"])
    stages += [cat_indexer, onehot_encoder]

In [21]:
from pyspark.ml.feature import VectorAssembler, StandardScaler

num_feats = [
    "passenger_count",
    "trip_distance",
    "pickup_time"
]

for n in num_feats:
    num_assembler = VectorAssembler(inputCols=[n], outputCol= n + "_vecotr")
    num_scaler = StandardScaler(inputCol=num_assembler.getOutputCol(), outputCol= n + "_scaled")
    stages += [num_assembler, num_scaler]

In [22]:
assembler_inputs = [c + "_onehot" for c in cat_feats] + [n + "_scaled" for n in num_feats]
assembler = VectorAssembler(inputCols=assembler_inputs, outputCol="feature_vector")
stages += [assembler]

In [23]:
from pyspark.ml import Pipeline

transform_stages = stages
pipeline = Pipeline(stages=transform_stages)
fitted_transformer = pipeline.fit(train_df)

In [24]:
vtrain_df = fitted_transformer.transform(train_df)

In [25]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(
    maxIter=50,
    solver="normal",
    labelCol="total_amount",
    featuresCol="feature_vector"
)

In [26]:
vtrain_df.printSchema()

root
 |-- passenger_count: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_time: integer (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id_idx: double (nullable = false)
 |-- pickup_location_id_onehot: vector (nullable = true)
 |-- dropoff_location_id_idx: double (nullable = false)
 |-- dropoff_location_id_onehot: vector (nullable = true)
 |-- day_of_week_idx: double (nullable = false)
 |-- day_of_week_onehot: vector (nullable = true)
 |-- passenger_count_vecotr: vector (nullable = true)
 |-- passenger_count_scaled: vector (nullable = true)
 |-- trip_distance_vecotr: vector (nullable = true)
 |-- trip_distance_scaled: vector (nullable = true)
 |-- pickup_time_vecotr: vector (nullable = true)
 |-- pickup_time_scaled: vector (nullable = true)
 |-- feature_vector: vector (nullable = true)

In [27]:
model = lr.fit(vtrain_df)

23/04/27 06:53:01 WARN org.apache.spark.ml.util.Instrumentation: [2f02190d] regParam is zero, which might cause numerical instability and overfitting.
23/04/27 06:53:36 WARN com.github.fommil.netlib.BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
23/04/27 06:53:36 WARN com.github.fommil.netlib.BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
23/04/27 06:53:37 WARN com.github.fommil.netlib.LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
23/04/27 06:53:37 WARN com.github.fommil.netlib.LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK
23/04/27 06:53:37 WARN org.apache.spark.ml.util.Instrumentation: [2f02190d] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.

In [28]:
vtest_df = fitted_transformer.transform(test_df)

In [29]:
predictions = model.transform(vtest_df)

In [30]:
predictions.cache()

DataFrame[passenger_count: double, pickup_location_id: int, dropoff_location_id: int, trip_distance: double, pickup_time: int, day_of_week: string, total_amount: double, pickup_location_id_idx: double, pickup_location_id_onehot: vector, dropoff_location_id_idx: double, dropoff_location_id_onehot: vector, day_of_week_idx: double, day_of_week_onehot: vector, passenger_count_vecotr: vector, passenger_count_scaled: vector, trip_distance_vecotr: vector, trip_distance_scaled: vector, pickup_time_vecotr: vector, pickup_time_scaled: vector, feature_vector: vector, prediction: double]

In [31]:
predictions.select(["trip_distance", "day_of_week", "total_amount", "prediction"]).show()

+-------------+-----------+------------+------------------+
|trip_distance|day_of_week|total_amount|        prediction|
+-------------+-----------+------------+------------------+
|          0.7|   Saturday|       12.35|12.505664801918684|
|          3.1|    Tuesday|        18.0|17.818332946356605|
|          2.1|   Saturday|       15.35|16.768456645487998|
|          1.7|   Saturday|        13.3|14.315974459478362|
|          4.1|     Friday|        21.3|20.954315116906876|
|          1.4|     Friday|         8.3|12.025221364848145|
|          7.3|    Tuesday|        29.3|28.044553383935824|
|          0.7|  Wednesday|         5.8| 9.704306924150398|
|          5.0|  Wednesday|        24.3| 21.17150117069628|
|          6.7|   Saturday|        29.8|37.502803118269114|
|         16.8|     Friday|       82.37| 71.32483145001768|
|         29.3|     Monday|        80.8|  103.559705585814|
|          4.1|     Friday|        20.8| 22.25851094506799|
|          0.1|  Wednesday|        55.3|12.541763095836469|
|          0.7|  Wednesday|        10.3| 14.53466410777471|
|          3.7|  Wednesday|        17.8|22.504536568378036|
|          2.4|    Tuesday|        14.8| 17.30985869214482|
|          4.5|     Friday|       26.35|22.837275291568425|
|          3.4|  Wednesday|       21.95|19.358702299760466|
|          4.0|   Thursday|        20.8| 21.33289066206487|
+-------------+-----------+------------+------------------+
only showing top 20 rows

In [32]:
model.summary.rootMeanSquaredError

5.848484065033885

In [33]:
model.summary.r2

0.7969874815768958